  <ion-view view-title="BOXING">
<ion-content lazy-scroll>
 <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Enter Zip Code to Boxing Gym Near You">
  </label>
  <ion-item ng-repeat="boxing in boxingResults">
  <center>
    <h2>{{boxing.name}}</h2>
    <p>{{boxing.location.city}},{{boxing.location.state}}</p>
    <h3>{{boxing.url}}</h3>
    <p>{{boxing.contact.formmattedPhone}}</p>
    </center>
 </ion-item>
</ion-content>


