 <ion-view view-title="EVENTS">
<ion-content lazy-scroll>
 <form class="navbar-form navbar-left" role="search">
 <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search Events" ng-model="event.query">
  </label>
  </form>
<div class="list">
	<ion-tem ng-repeat="event in eventObj | filter: event.query" class="item">
	<img width="100%" image-lazy-src={{event[5]}}>
	<center>
		<h1>{{event[1]}}</h1>
		<h3>{{event[7]}}</h3>
		<p>{{event[2]}}</p>
		<p>{{event[3] | date:'MM-dd-yyyy'}}</p>
		<button nghref={{event[6]}}>Buy Tickets</button>
	</center>
</ion-tem>
</a>
</div>
</ion-content>
</ion-view>














