 <ion-view view-title="Fighters">
<ion-content lazy-scroll>
 <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search UFC Fighter Database">
  </label>
<div class="list">
  <a ng-repeat="fighter in fighterObj"
  class="item item-thumbnail-left">
  <img image-lazy-src={{fighter.thumbnail}}>
  <h2>{{fighter.first_name}} {{fighter.last_name}}</h2>
  <h1>{{fighter.wins}}-{{fighter.losses}}-{{fighter.draws}}</h1>
  <p>{{fighter.weight_class}}</p>
  <p>{{fighter.title}}</p>
</a>
</div>
</ion-content>
