<ion-view class="bar-clear" view-title="MMA HUSTLER">
<ion-nav-buttons side="right" ng-show="false">
</ion-nav-buttons>

<ion-content class="padding dark-item">

<img id="mmaicon" width="15%" src="http://i.imgur.com/LbqiOuz.png">

<ion-list>
<ion-item href="#/app/boxing">BOXING</ion-item>
<ion-item href="#/app/bjj">BRAZILIAN JIU JITSU</ion-item>
<ion-item href="#/app/fitness">FITNESS GYMS</ion-item>
<ion-item href="#/app/mma">MMA</ion-item>
<ion-item href="#/app/muaythai">MUAY THAI</ion-item>
<ion-item href="#/app/wrestling">WRESTLING</ion-item>
<ion-item href="#/app/yoga">YOGA</ion-item>
</ion-list>
<div class="button-bar">
  <a href="#/app/events" class="button button-outline button-dark">EVENTS</a>
  <a href="#/app/fighters" class="button button-outline button-dark">FIGHTERS</a>
  <a href="#/app/news" class="button button-outline button-dark">TOP 10</a>
</div>
<center>

</center>
</ion-content>
</ion-view>
<ion-footer-bar class="bar-stable">
</ion-footer-bar>


