<ion-view view-title="MMA Hustler">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">About</div>
      <div class="item item-body">
        <div>
          MMA Hustler began in 2008 after training with soldiers and people all from across the world who had a passion for mixed martial arts training. While training in the desert, we discussed how difficult it was to make the commitment to be a full-time fighter, so we began sharing our skills and techniques with one another while growing as a brotherhood preserving the core principle of "just get a little better everyday".</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Our Mission</div>
      <div class="item item-body">
        <div>
          The mission of MMA Hustler is to provide fans and practioners of the mixed martial arts community a place to learn, explore and get inspired not only to become a better fighter in the ring but also in life.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Contact</div>
      <div class="item item-body">
        <div>
          For more info, please send an email to Donte´Burney at digitalartcrew@gmail.com
      </div>
    </div>
  </ion-content>
</ion-view>
