<ion-view view-title="Messages"> 

  </ion-content>
   
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">About</div>
      <div class="item item-body">
        <div>
  
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Our Mission</div>
      <div class="item item-body">
        <div>
         
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Contact</div>
      <div class="item item-body">
        <div>
   
      </div>
    </div>
   
</ion-view>
