<ion-view view-title="MMA">
<ion-content lazy-scroll>
 <form class="navbar-form navbar-left" role="search">
<label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="text" placeholder="Search" ng-model="mma.query">
</label>
</form>
<ion-item ng-repeat="mma in mmaResults | filter: mma.query">
  <center>
    <h2>{{mma.name}}</h2>
    <p>{{mma.location.city}},{{mma.location.state}}</p>
    <h3>{{mma.url}}</h3>
    <p>{{mma.contact.formmattedPhone}}</p>
    </center>
 </ion-item>
</ion-content>







