<ion-view view-title="Muay Thai">
<ion-content>
	<h1>Muay Thai</h1>
<ion-list>
   <ion-item ng-repeat="muaythai in muaythaiResults">
      <div>
        <p>{{muaythai.name}}</p>
        <p>{{muaythai.contact.formmattedPhone}}</p>
        <p>{{muaythai.contact.twitter}}</p>
        <p>{{muaythai.location.city}}</p>
        <p>{{muaythai.location.state}}</p>
        <p>{{muaythai.url}}</p>
        </div>
      </ion-item>
</ion-list>
</ion-content>
</ion-view>
<ion-footer-bar class="bar-dark">
</ion-footer-bar>

