<ion-view view-title="MMA HUSTLER">
   <ion-nav-buttons side="right" ng-show="false">
      <!--   <button class="button button-icon button-clear ion-compose">
        </button> -->
           <button class="button button-icon button-clear"> Hello, User</button>
      </ion-nav-buttons>


  <ion-content class="padding">

  <center>
 
  

  <p>
  <button class="button button-positive top"> Events</button>
  <button class="button button-positive top"> Fighters</button>
  <button class="button button-positive top"> News</button>
  <button class="button button-positive top"> Shop</button>
  </p>
  <p>Welcome to MMA Hustler where you can catch the latest events, news and shop for awesome gear to ramp up your training.</p>
  </center>
    <ion-list>

      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
      <ion-footer-bar class="bar-positive">
      <div class="button-bar">
      <button class="icon ion-social-twitter button button-clear"></button>
      <button class="icon ion-social-facebook button button-clear"></button>
      <button class="icon ion-social-youtube button button-clear"></button>
      </div>
    </ion-footer-bar>
