<ion-view view-title="WRESTLING">
<ion-content lazy-scroll>
 <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Enter Zip Code to find an Wrestling Gym">
  </label>
  <ion-item ng-repeat="wrestling in wrestlingResults">
  <center>
    <h2>{{wrestling.name}}</h2>
    <p>{{wrestling.location.city}},{{wrestling.location.state}}</p>
    <h3>{{wrestling.url}}</h3>
    <p>{{wrestling.contact.formmattedPhone}}</p>
    </center>
 </ion-item>
</ion-content>
