<ion-view view-title="Wrestling">
<ion-content>
<ion-list>
   <ion-item ng-repeat="wrestling in wrestlingResults">
      <div>
        <p>{{wrestling.name}}</p>
        <p>{{wrestling.contact.formmattedPhone}}</p>
        <p>{{wrestling.contact.twitter}}</p>
        <p>{{wrestling.location.city}}</p>
        <p>{{wrestling.location.state}}</p>
        <p>{{wrestling.url}}</p>
        </div>
      </ion-item>
</ion-list>
</ion-content>
</ion-view>
<ion-footer-bar class="bar-dark">
</ion-footer-bar>

