/* Empty. Add your own CSS if you like */
/*Cover CSS Begin*/
ion-content.padding.dark-item.scroll-content.ionic-scroll.has-header.has-footer {
    background-image:
    linear-gradient(
      black, #f06d06
    );
}

#profile-image {
    border-radius: 50%;
    margin-left: 65px;
}

img {
    padding-top: 5px;
}

.menu .bar-header {
    z-index: 11;
    background-color: black;
}

.bar .title {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    color: white;
}

.input-label {
    display: table;
    padding: 7px 10px 7px 0px;
    max-width: 200px;
    width: 35%;
    color: #fff;
    font-size: 16px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    display: block;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #fff;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
}

ion-content.padding.scroll-content.ionic-scroll.has-header {
    background-color: #FF0000;
}

.padding {
    padding: 10px;
    background-image:
    linear-gradient(
      red, #f06d06
    );
}

.bar-header {
    top: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
    background-color: #000;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    background-color: black;
    );
}

ion-header-bar.bar-positive.bar.bar-header {
    background: black;
}

.scroll {
    background-image:
    linear-gradient(
      red, #f06d06
    );
}

.item-complex .item-content, .item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: black;
}

.bar.bar-stable.bar-footer {
    background-image: linear-gradient(180deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    background-color: #000;
}


a.item-content {
    color: white;
}

.top {
	margin: 1px;
	font-size: 12px;
}


.botnav {
	margin-top: 20px;
}

.scroll {
    height: 100%;

}

  .videoWrapper {
 }
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}